{{ define "Developer_page"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Заказы</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </head>

<body>

  <main class="d-flex flex-nowrap">
    
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 13%; height: 100vh;  position: fixed;">


      <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <img src="/images/admin/crm5.png" alt="" width="50" height="50"  class="rounded-circle me-2" style="float: left; background-color: white;">
        <span class="fs-4">CRM</span>
      </p>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto"><li class="mb-1" >

       
        <li class="nav-item">         
          <a href="/orders/Ожидает подтверждения" class="nav-link active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Главная
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Заказы
          </a>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small nav-link text-white" style="background-color: darkslategrey; color: white; " >
              <li ><a href="/orders/Ожидает подтверждения"  class="mb-2 link-dark d-inline-flex text-decoration-none rounded text-white btn-toggle-nav">Новые</a></li>
              <li><a href="/orders/Принято в работу" class="mb-2 link-dark d-inline-flex text-decoration-none rounded text-white">Обработанные</a></li>
              <li><a href="/orders/Заказ доставлен" class="mb-2 link-dark d-inline-flex text-decoration-none rounded text-white">Доставленные</a></li>
              <li><a href="/orders/Отказ" class="mb-2 link-dark d-inline-flex text-decoration-none rounded text-white">Отказ</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Продукты
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Сотрудники
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Отзывы
          </a>
        </li>
        <hr>

        <div class="dropdown" style="padding-left: 5%;">
          <a href="#" class="align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/human.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>admin</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" >
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Sign_out">Выход</a></li>
          </ul>
        </div>
      </div>
      </ul>
      
    

       <form style="padding-left: 15%;" >

         <h3 class="mt-3">Заказы со статусом "{{ .Status }}"</h3><br>

        {{range .Orders }}

         <h4 class="text-black">Заказ № {{ .Track_number}}</h4>
         <h6 class="h5 text-black mb-2" style="float: left; width: 50%;">от {{ .Order_time}}</h6>
         
         <hr class="container-fluid">
          <h4 class="lead mb-1" ><big>Информация о заказе:</big></h4>
          <p class="lead mb-1">User_ID: {{ .User_Id }}</p>
          <p class="lead mb-1">User_Address: {{ .Customer_Address}}</p>
          <p class="lead  mb-1">User_Email: {{ .Customer_Email}}</p>
          <p class="lead mb-1">User_Phone: {{ .Customer_Phone}}</p>
          <p class="lead mb-1">Product: {{ .Product_Name }} x {{ .Product_Koll }} шт, ID товара: {{ .Product_Id }}</p>
          <p class="lead mb-1">Order_Status: {{ .Order_status }}</p>
          <p class="lead mb-2">Comment: {{ .Customer_Comment}}</p>

          {{ if eq .Order_status "Ожидает подтверждения"}}
            <div class="mb-4">
              <button onclick="window.location='/change_status/{{ .Order_Id }}/Принято в работу'">Взять в работу</button>
              <button onclick="window.location='/change_status/{{ .Order_Id }}/Отказ'">Отказаться</button>
            </div>
          {{ else if eq .Order_status "Принято в работу"}}
          <div class="mb-4">
            <button onclick="window.location='/change_status/{{ .Order_Id }}/Заказ доставлен'">Поменять статус на "Доставлен"</button>
            <button onclick="window.location='/change_status/{{ .Order_Id }}/Отказ'">Отказ</button>
          </div>
          {{ else if eq .Order_status "Отказ"}}
          <div class="mb-4">
            <button onclick="window.location='/change_status/{{ .Order_Id }}/Принято в работу'">Вернуть в работу</button>
          </div>
          {{ end }}
          <br>
        {{ else }}
          <h4 class="lead mb-1" ><big>Заказов нет</big></h4>
        {{ end }}

        </form> 
      
    </div>
  </main>
</body>
</html>
{{ end }}