{{define "Order_details" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Заказы</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">


  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <div class="site-wrap">

 <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Фармацевт.ru</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/">Главная страница</a></li>
                <li><a href="/shop">Товары</a></li>
                <li class="has-children">
                  <a href="#">По категориям</a>
                  <ul class="dropdown">
                    <li><a href="/Product_category/Обезболивающие">Обезболивающие</a></li>
                    <li><a href="/Product_category/Иммуностимулирующие">Иммуностимулирующие</a></li>
                    <li><a href="/Product_category/Жаропонижающие">Жаропонижающие</a></li>
                    <li><a href="/Product_category/От гриппа и простуды">От гриппа и простуды</a></li>
                    <li><a href="/Product_category/От грибковых заболеваний">От грибковых заболеваний</a></li>
                    <li><a href="/Product_category/От аллергии">От аллергии</a></li>
                    <li><a href="/Product_category/Антибиотики">Антибиотики</a></li>
                  </ul>
                </li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/contact">Контакты</a></li>
              </ul>
            </nav>
          </div>
         
          <div class="icons">
            <a href="/cart" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
            </a>
           </div>
           {{ if ne .User_id 0}}
            <div class="main-nav d-none d-lg-block">
              <nav class="site-navigation text-right text-md-center" role="navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li class="has-children">
                    <a href="#"><img src= "/images/human.png" alt="Image"></a>
                    <ul class="dropdown">
                      <li><a href="/historyPage"><img src= "/images/cart.png" alt="Image"> Мои заказы</a></li>
                      <li><a href="/favouritesPage"><img src= "/images/favourites.png" alt="Image"> Избранное</a></li>
                      {{ if eq .Role "Администратор"}}
                      <li><a href="/orders/Ожидает подтверждения"><img src= "/images/admin.png" alt="Image"> Для модераторов</a></li>
                      {{ end }}
                      <li><a href="/Sign_out">Выйти</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            {{ else }}
            <a href="/Authorization" class="btn">Войти</a>
            {{ end }}
          </div>
        </div>
      </div>


    <div class="py-3"> 
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="/historyPage">К списку заказов</a>
          </div>
        </div>
      </div>
    </div>

 
    <div class="site-section" style="padding-top: 1%;">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="get">

            {{range .Orders }}

            <h2 class="text-black">Заказ № {{ .Track_number}}</h2>
            <h6 class="h5 text-black mb-5" style="float: left; width: 50%;">от {{ .Order_time}}</h6>
            <p ><h5 class="text-black" style="float: right; width: 50%; text-align: right; padding-right: 2%; color: #000; font-weight: bold; ">{{ .Order_status }}</h5></p>

            <div>
              <table class="table" style="border: white ; table-layout: fixed; width:100%">
                <tbody>
                  
                  <tr>
                    
                    <td colspan="2">
                       <p class="h5 text-black"><img src= "/images/geozone.png" alt="Image"> Доставка по адресу</p>
                          <p style="word-wrap: break-word; margin-left: 35px;"><big>{{ .Customer_Address }}</big></p>
                          <p class="h5 text-black"><img src= "/images/man.png" alt="Image"> Получатель</p>

                          <div class="bag text-black" style="line-height:1; word-wrap: break-word; margin-left: 35px;" >
                          <p ><big>{{ .Customer_Name }} </big></p>
                          <p ><big>{{ .Customer_Email }}</big></p>
                          <p ><big>{{ .Customer_Phone }}</big></p>
                          </div>
                    </td>

                    <td style="width: 5%;">

                    </td>

                    <td>
                      <div class="bag text-blac; word-wrap: break-word;">
                      <p class="h5 text-black"style="line-height:2;"><img src= "/images/s.png" alt="Image"> Товар</p>
                      <p class="h5 text-black" style="line-height:2.5; margin-left: 36px;">Сумма</p>
                      <p class="h5 text-black" style="line-height:2; margin-left: 36px;">Доставка</p>
                      <p class="h5 text-black" style="line-height:2.5; font-weight: bold; margin-left: 36px;">Итого</p>
                      </div>
                    </td>

                    <td style="width: 30%;" >
                      <div class="bag text-black" style="word-wrap: break-word; text-align: right; margin-right: 35px;" >
                      <p class="bag text-black"  style="line-height:2;"><big>{{ .Product_Name }} x {{ .Product_Koll }}</big></p>
                      <p class="bag text-black"style="line-height:2;"><big>{{ .Product_amount }} ₽</big></p>
                      {{ if ne .Delivery_price 0}}
                      <p class="bag text-black"style="line-height:2;"><big>{{ .Delivery_price }} ₽</big></p>
                      {{ else }}
                      <p class="bag text-black"style="line-height:2;"><big>Бесплатно</big></p>
                      {{ end }}
                      <p class="bag text-black" style="font-weight: bold;line-height:2;"><big>{{ .Total_price }} ₽</big></p>
                    </div>
                    </td>
                    
                  </tr>
                  
                </tbody>
              </table>
            </div>
            {{ end }}
          </form>
        </div>
    
      
      </div>
    </div>


    
    <div class="site-section bg-secondary bg-image" style="background-image: url('/images/expert.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a class="banner-1 h-100 d-flex" style="background-image: url('/images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h3><strong>Проверенные медикаменты</strong></h3>
                <p>
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a class="banner-1 h-100 d-flex" style="background-image: url('/images/expert.jpg');">
              <div class="banner-1-inner ml-auto"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4">О нас</h3>
              <p>Здоровье. Что может быть важнее? Аптека Фармацевт.ru представляет комплексный подход в вопросах здоровья семьи.
                 Здесь вы сможете получить профессиональную консультацию специалиста и приобрести аппараты для измерения давления.</p>
            </div>
          </div>

          <div class="col-lg-3 mx-auto mb-5 mb-lg-0"></div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Контактная информация</h3>
              <ul class="list-unstyled">
                <li class="address">Адрес: 390000, Рязань, пл. Ленина, 1, подъезд 2.</li>
                <li class="phone"><a href="tel://23923929210">+7 495 5878 31-45</a></li>
                <li class="email">emailaddress@mail.ru</li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/main.js"></script>

</body>

</html>

{{ end }}