{{define "shop" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Товары</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="site-wrap">

    <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Фармацевт.ru</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/">Главная страница</a></li>
                <li  class="active"><a href="/shop">Товары</a></li>
                <li class="has-children">
                  <a href="#">По категориям</a>
                  <ul class="dropdown">
                    <li><a href="/Product_category/Обезболивающие">Обезболивающие</a></li>
                    <li><a href="/Product_category/Иммуностимулирующие">Иммуностимулирующие</a></li>
                    <li><a href="/Product_category/Жаропонижающие">Жаропонижающие</a></li>
                    <li><a href="/Product_category/От гриппа и простуды">От гриппа и простуды</a></li>
                    <li><a href="/Product_category/От грибковых заболеваний">От грибковых заболеваний</a></li>
                    <li><a href="/Product_category/От аллергии">От аллергии</a></li>
                    <li><a href="/Product_category/Антибиотики">Антибиотики</a></li>
                  </ul>
                </li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/contact">Контакты</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="/cart" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">  2  </span>
            </a>
            <a href="/shop" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
    

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Главная страница</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Список товаров</strong> <strong class="text-black">/ {{ .Category}}</strong></div>
        </div>
      </div>
    </div>

      <div class="py-4">
       

        <div class="container py-2">  
          <form class="d-flex" role="search" action="/SearhProduct">
             <div class="input-group">
               <input class="form-control me-2" type="search" name="productName" id="productName" placeholder="Введите артикул или название товара" aria-label="Search" >
                <div class="input-group-append">
                <button class="btn btn-primary btn-sm px-4" type="submit">Поиск</button>
                </div>
             </div>
           </form>
        </div>


      <div class="container py-4">

        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">ФИЛЬТР ПО ЦЕНЕ</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>
          <div class="col-lg-6 py-4">
            <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
              data-toggle="dropdown">Фильтр</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
              <a class="dropdown-item" href="/NameASC">Наименование, от А до Я</a>
              <a class="dropdown-item" href="/NameDESC">Наименование, от Я до А</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/PriceASC">Цена, по возрастанию</a>
              <a class="dropdown-item" href="/PriceDESC">Цена, по убыванию</a>
            </div>
          </div>
       
        <div class="py-4">
         <div class="row py-4">
          
          {{range .Products }}
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="/shop_single?id={{ .Id }}"> <img src= "/images/products/{{.Image}}" alt="Image"></a>
            <h3 class="text-dark"><a href="/shop_single?id={{ .Id }}">{{.Name}}</a></h3>
            <p class="price">{{.Price}} ₽</p>
            </div>
          {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="site-section bg-secondary bg-image" style="background-image: url('/images/expert.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a class="banner-1 h-100 d-flex" style="background-image: url('/images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h3><strong>Проверенные медикаменты</strong></h3>
                <p>
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a class="banner-1 h-100 d-flex" style="background-image: url('/images/expert.jpg');">
              <div class="banner-1-inner ml-auto "> </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4">О нас</h3>
              <p>Здоровье. Что может быть важнее? Аптека Фармацевт.ru представляет комплексный подход в вопросах здоровья семьи.
                 Здесь вы сможете получить профессиональную консультацию специалиста и приобрести аппараты для измерения давления.</p>
            </div>
          </div>
          
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0"></div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Контактная информация</h3>
              <ul class="list-unstyled">
                <li class="address">Адрес: 390000, Рязань, пл. Ленина, 1, подъезд 2.</li>
                <li class="phone"><a href="tel://23923929210">+7 495 5878 31-45</a></li>
                <li class="email">emailaddress@mail.ru</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>

{{ end }}